{% extends 'base.html' %}
{% block body %}
{% load static %}

<style>
    h5{
        text-transform: uppercase;
    }
    li{
       font-size: 18px; 
    }
li.sub_group{
    font-size: 15px;
} 

.vl {
  border-left: 1px solid white;
  height: 600px;
}
.table tr:hover{  
    background: #b3a848;
}
</style>
<div class="container-fluid">
    <div class="row " style="color: rgb(0, 0, 65); background-color: rgb(142, 211, 250);padding: 2px; height:3%;"><b style="font-size: 20px; ">Statistics</b></div><br>
    <div class="row"style= "background-color:#213b52;">
       

        <div class="col-md-5">
            <table class="table " >
                <thead class="p-5" style="font-size: 15px; ">
                    <tr>
                        <th>Type of Vouchers</th>
                        <th style="text-align: right;">ABC Pvt LTD<br>For 1-Apr-22</th>
                        
                    </tr>
                </thead>
                
                
                        <td>Ads</td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                    <tr>
                        <td>Attendence</td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                    <tr>
                        <td>Contra</td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                    <tr>
                        <td>Credit Note</td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                    <tr>
                        <td>Debit Note</td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                    <tr>
                        <td>Delivery Note</td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                    <tr>
                        <td>Job Work in Order</td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                    <tr>
                        <td>Job Work in Out Order</td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                    <tr>
                        <td>Journal</td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                    <tr>
                        <td>Material In </td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                    <tr>
                        <td>Material Out</td>
                        <td style="text-align: right;">0</td>
                        
                    </tr>
                </tbody>
            </table>
            
        </div>
        
        <div class="vl"></div>
            <div class="col-md-6">
                <table class="table ">
                    <thead >
                        <tr>
                            <th>Types of Account</th>
                            <th style="text-align: right;">ABC Pvt LTD<br>For 1-Apr-22</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="{% url 'groups' %}" >Groups</a></td>
                            <td style="text-align: right;">{{total}}</td>
                            
                        </tr>
                        <tr>
                            <td><a href="{% url 'ledgers' %}">Ledgers</a></td>
                            <td style="text-align: right;">{{ledgers_count}}</td>
                            
                        </tr>
                        <tr>
                            <td><a href="{% url 'costcentr' %}">Cost Centres</a></td>
                            <td style="text-align: right;"> {{all_centre_count}} </td>
                            
                        </tr>
                        <tr>
                            <td>Stock Groups</td>
                            <td style="text-align: right;">0</td>
                            
                        </tr>
                        <tr>
                            <td>Stock Categories</td>
                            <td style="text-align: right;">0</td>
                            
                        </tr>
                        <tr>
                            <td>Stock Items</td>
                            <td style="text-align: right;">0</td>
                            
                        </tr>
                        <tr>
                            <td>Godowns</td>
                            <td style="text-align: right;">0</td>
                            
                        </tr>
                        <tr>
                            <td>Voucher Types</td>
                            <td style="text-align: right;">0</td>
                            
                        </tr>
                        <tr>
                            <td>Units</td>
                            <td style="text-align: right;">0</td>
                            
                        </tr>
                        <tr>
                            <td>Currencies</td>
                            <td style="text-align: right;">0</td>
                            
                        </tr>
                        
                    </tbody>
                </table>
                </div>
        </div>
</div>
{% endblock %}