{% extends 'base.html' %}
{% block body %}
{% load static %}
<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
<style>
    h5{
        text-transform: uppercase;
    }
    li{
       font-size: 18px; 
    }
li.sub_group{
    font-size: 15px;
}    
</style></head>
<div class="container">
<div>
    <h5>Chart of Accounts</h5>
</div>
<hr>
<div style="display:flex; ">
    <div style="width: 50%; text-align: start;">
        <h5 style="font-size: 15px;  height: 3%;">List Of Ledgers</h5>

    </div>
    <div style="width: 50%; text-align: end;">
      <h5 style="font-size: 15px; padding:5px;">For 1-Apr-22</h5>

    </div>
</div><hr>
<div>

    
{% for cat in grpp %}

<ul>
    <li style="list-style-type: none;"><h4><u></u></h4></li>
    {% for i in cat.maingroup_set.all %}
    <ul>
        <li><a href="{% url 'm_group' i.id  %}">{{ i.name }}</li>
            {% for a in i.subgroup_set.all %}
            <ul>
                <li><a href="{% url 's_group' a.id %}">{{ a.name }}</a></li>
                {% for x in a.ledger_set.all %}
                <ul>
                    <li><i><a href="{% url 'ledger_alter' x.id %}">{{ x.ledger_name }}</a></i></li>
                </ul>
                
                {% endfor %}
            </ul>
            {% endfor %}
    </ul>
    {% endfor %}
</ul>

{% endfor %}



</div><br><hr>
<div style="font-size:20px;"> {{ total1 }} Groups and {{ ledgers_count1 }} Ledgers</div>
<hr><br></div>

<div class="bottom text-center d-flex justify-content-between">
    <button class="btn border"><a href="{% url 'index' %}">QUIT</a></button>
    
    <button type="button" class="btn border" onclick="myFunction()">SELECT</button>
   
    <button class="btn border">DELETE</button>
    <button class="btn border"  onclick="removeSelectedRow()">REMOVE LINE</button>
    <button class="btn border"><a href="{% url 'ledgers' %}">RESTORE LINE</a></button>
</div>

<script>        
    var index;  // variable to set the selected row index
    function getSelectedRow()
    {
        var table = document.getElementById("table");
        for(var i = 1; i < table.rows.length; i++)
        {
            table.rows[i].onclick = function()
            {
                // clear the selected from the previous selected row
                // the first time index is undefined
                if(typeof index !== "undefined"){
                    table.rows[index].classList.toggle("selected");
                }              
                index = this.rowIndex;
                this.classList.toggle("selected");
            };
        }
    }
    getSelectedRow();
</script>

<script>      
    function myFunction() {
         var se = document.getElementsByClassName('selected');
         se[0].style.backgroundColor = "lightblue";
            
    }
</script>

<script>
    function removeSelectedRow()
        {
            table.deleteRow(index);     
        }
</script>
{% endblock %}



